{% block profileForm %}

    <style>
        form {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2em;
        }

        .profile-form-inputs {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            grid-gap: 1em;
        }

        .profile-form-first-infos {
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
        }

        .profile-form-second-infos {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            grid-gap: 2em;
        }

        .profile-form-row {
            display: flex;
            flex-direction: column;
            grid-gap: 0.25em;
        }

        .profile-form-label {
            color: #373737;
            padding: 0 0 0 0.5em;
            font-weight: bold;
        }

        .profile-form-row > input,
        .profile-form-row > select,
        .profile-form-row > div > select,
        .profile-form-row > textarea {
            border-radius: 5px;
            padding: 0.5em;
            border: 2px solid #d3d3d3;
        }

        .profile-form-row > input#profile_profilePicture {
            border: none;
        }

        .profile-form-row-description > textarea {
            min-height: 200px;
        }

        .profile-form-row-profile-picture {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /* utiliser les mixins*/
        .profile-form-submit {
            padding: 1em 0 0 0;
        }
        .btn-submit-profile-form {
            padding: 0.5em 1em;
            background: #009500;
            color: whitesmoke;
            border-radius: 4px;
            border: none;
        }

        .profile-form-show-picture {
            width: 80%;
            min-height: 300px;
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid whitesmoke;
            box-shadow: 4px 4px 4px 0 rgb(137 137 137 / 74%);
        }
    </style>

    {{ form_start(profileForm, {'attr': {'id': 'profile-form'}}) }}
    <div class="profile-form-inputs">
        <div class="profile-form-first-infos">
            {{form_row(profileForm.firstname) }}
            {{form_row(profileForm.lastname) }}
            {{form_row(profileForm.birthdate) }}
            {{form_row(profileForm.sex) }}
            {{form_row(profileForm.currentPosition) }}
            {{form_row(profileForm.quickDescription) }}
        </div>

        <div class="profile-form-second-infos">
            {{ form_label(profileForm.profilePicture) }}
            {% if profile.getProfilePicture %}
                <img class="profile-form-show-picture" src="{{ asset('uploads/profile-picture/' ~ profile.profilePicture.name) }}" alt="">
            {% endif %}
            {{ form_widget(profileForm.profilePicture) }}
        </div>
    </div>


    <div class="profile-form-submit">
        <button class="btn-submit-profile-form btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    </div>
    {{ form_end(profileForm) }}


    <script>

    </script>
{% endblock %}