{% block profileForm %}
    {{ form_start(profileForm, {'attr': {'id': 'profile-form'}}) }}
    <div class="profile-form-inputs">
        <div class="profile-form-first-infos">
            {{form_row(profileForm.firstname) }}
            {{form_row(profileForm.lastname) }}
            {{form_row(profileForm.birthdate) }}
            {{form_row(profileForm.sex) }}
            {{form_row(profileForm.currentPosition) }}
            {{form_row(profileForm.quickDescription) }}
        </div>

        <div class="profile-form-second-infos">
            {{ form_label(profileForm.profilePicture) }}
            {% if profile.getProfilePicture %}
                <img class="profile-form-show-picture" src="{{ asset('uploads/profile-picture/' ~ profile.profilePicture.name) }}" alt="">
            {% endif %}
            {{ form_widget(profileForm.profilePicture) }}
        </div>
    </div>


    <div class="profile-form-submit">
        <button class="btn-submit-profile-form btn btn-success">Save</button>
    </div>
    {{ form_end(profileForm) }}
{% endblock %}