{% block navbar %}
    <section class="container-nav">
        <nav class="first-nav">
            <div>
                <a href="{{ path('admin-dashboard') }}">❤</a>
                <a href="{{ path('admin-profile') }}">My Profile</a>
                <a href="{{ path('admin_work_experiences') }}">My Experiences</a>
                <a href="{{ path('admin-hbo-studio') }}">My Studio</a>
                <a href="{{ path('admin-inbox') }}">Inbox</a>
            </div>
        </nav>

        <div class="second-nav">
            <div>
                <a href="{{ path('homepage') }}">K.V</a>
            </div>
        </div>
    </section>
{% endblock %}