{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('aboutmeSCSS') }}
{% endblock %}


{% block body %}
    <section class="about-me">
        <div class="introducing-profile">
            <div class="my-introducing-text">
                <p>Hello ✌</p>
                <p>My name is {{ profile.firstname }}</p>
                <p>I'm a {{ profile.currentPosition }}</p>
                <p>
                    {{ profile.quickDescription }}
                </p>
            </div>
            <a class="learn-more-button" href="{{ path('skillset-experiences') }}">
                Learn more about myself and experiences 👀
            </a>
        </div>
        <div class="picture-profile">
            <div class="picture-placeholder">
                <img src="{{ asset('uploads/profile-picture/' ~  profile.profilePicture.name) }}" alt="">
            </div>
            <div class="my-social-networks">
                <a href="https://www.linkedin.com/in/kevin-vanphavong-0899a2108/">
                    <img src="{{ asset('build/images/linkedin-logo.png') }}" alt="LINKEDIN" title="https://www.linkedin.com/in/kevin-vanphavong-0899a2108/">
                </a>
                <a href="https://www.instagram.com/tse_hao/">
                    <img src="{{ asset('build/images/instagram-logo.png') }}" alt="INSTAGRAM" title="https://www.instagram.com/tse_hao/">
                </a>
                <a href="#">
                    <img src="{{ asset('build/images/gmail-logo.png') }}" alt="GMAIL" title="vanphavongk45@gmail.com">
                </a>
            </div>
        </div>
    </section>

    <hr>

    <style>
        .section-work-experiences-cards {
            position: relative;
            overflow-x: scroll;
            overflow-y: hidden;
            padding: 5%
        }
        .arrow {
            position: absolute;
            z-index: 1000;
            top: 45%;
        }
        .arrow-right {
            right: -5%;
        }
        .arrow-left {
            left: -5%;
        }

    </style>

    <section class="section-work-experiences">
        <h2>Work Experiences</h2>
        <div class="section-work-experiences-cards">
            <div class="arrow arrow-left">LEFT</div>
            <div class="arrow arrow-right">RIGHT</div>
            {% set index = workExperiences|length %}
            {% for wxp in workExperiences %}
                <article class="work-experience-card work-experience-card-{{ index }}" data-wxp-card-index="{{ index }}">
                    <div class="side front-side">
                        <img src="{{ asset('build/images/dragon-tatoo.png') }}" alt="">
                        <span class="card-index">{{ '# ' ~ index }}</span>
                    </div>
                    <div class="side back-side">
                        <h3>{{ wxp.categoryExperience.title }}</h3>
                        <p>{{ wxp.title }}</p>
                        <b>{{ wxp.company|upper }}</b>
                        {% if wxp.endDate %}
                            <p>From {{ wxp.startDate|date('M Y') }}</p>
                            <p>To {{ wxp.endDate|date('M Y') }}</p>
                        {% else %}
                            <p>Still working there</p>
                        {% endif %}
                    </div>
                </article>
                {% set index = index-1 %}
            {% endfor %}
        </div>
    </section>

    <hr>

    <div class="finger-down-button">
        <p>👇</p>
    </div>
    <section class="contact-me">
        <h3>For any profesional inquiries and askings, feel free to join me here</h3>
        {{ form_start(messageReceivedForm) }}
            {{ form_row(messageReceivedForm.sender) }}
            <div class="group-email-phone">
                {{ form_row(messageReceivedForm.email) }}
                {{ form_row(messageReceivedForm.phoneNumber) }}
            </div>
            {{ form_row(messageReceivedForm.object) }}
            {{ form_row(messageReceivedForm.content) }}
        {{ form_end(messageReceivedForm) }}
    </section>

    <script>
        let frontSideCards = document.querySelectorAll('.front-side');
        let backSideCards = document.querySelectorAll('.back-side');

        frontSideCards.forEach(frontSide => {
            frontSide.addEventListener('click', function () {
                frontSide.style.transform = 'rotateY(90deg)';
                setTimeout(function () {
                    frontSide.style.zIndex = '9'
                    let backSide = frontSide.nextElementSibling
                    backSide.style.zIndex = '10'
                    backSide.style.transform = 'rotateY(0deg)'
                }, '500')
            })
        })

        backSideCards.forEach(backSide => {
            backSide.addEventListener('click', function () {
                backSide.style.transform = 'rotateY(90deg)';
                setTimeout(function () {
                    backSide.style.zIndex = '9'
                    let frontSide = backSide.previousElementSibling
                    frontSide.style.zIndex = '10'
                    frontSide.style.transform = 'rotateY(0deg)'
                }, '500')
            })
        })
    </script>
    <script>
        let sectionCards = document.querySelector('.section-work-experiences-cards')
        console.log(sectionCards.offsetWidth);
    </script>
{% endblock %}