{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('aboutmeCSS') }}
{% endblock %}


{% block body %}
    <section class="about-me">
        <div class="introducing-profile">
            <div class="my-introducing-text">
                <p>Hello ✌</p>
                <p>My name is Kevin</p>
                <p>I'm a student in web development</p>
                <p>
                    Creating my own studio
                    <br>
                    As creative studio and brand design
                </p>
            </div>
            <div class="learn-more-button">
                <p>Learn more about myself and experiences 👀</p>
            </div>
        </div>
        <div class="picture-profile">
            <div class="picture-placeholder">
                <img src="{{ asset('build/images/profile-picture.jpg') }}" alt="">
            </div>
            <div class="my-social-networks">
                <a href="https://www.linkedin.com/in/kevin-vanphavong-0899a2108/">
                    <img src="{{ asset('build/images/linkedin-logo.png') }}" alt="LINKEDIN" title="https://www.linkedin.com/in/kevin-vanphavong-0899a2108/">
                </a>
                <a href="https://www.instagram.com/tse_hao/">
                    <img src="{{ asset('build/images/instagram-logo.png') }}" alt="INSTAGRAM" title="https://www.instagram.com/tse_hao/">
                </a>
                <a href="#">
                    <img src="{{ asset('build/images/gmail-logo.png') }}" alt="GMAIL" title="vanphavongk45@gmail.com">
                </a>
            </div>
        </div>
    </section>
    <div class="finger-down-button">
        <a href="{{ path('skillset-experiences') }}">👇</a>
    </div>
{% endblock %}