{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('aboutmeSCSS') }}
{% endblock %}


{% block body %}
    <a href="#about-me">
        <i class="arrow-up fa-solid fa-arrow-up"></i>
    </a>
    <section id="about-me" class="about-me">
        <div class="introducing-profile">
            <div class="my-introducing-text">
                <p>Hello ✌</p>
                <p>My name is {{ profile.firstname }}</p>
                <p>I'm a {{ profile.currentPosition }}</p>
                <p>
                    {{ profile.quickDescription }}
                </p>
            </div>
            <a class="learn-more-button" href="#section-work-experiences-cards">
                Learn more about myself and experiences <span class="finger-down-button"> 👇</span>
            </a>
        </div>
        <div class="picture-profile">
            <div class="picture-placeholder">
                <img src="{{ asset('uploads/profile-picture/' ~  profile.profilePicture.name) }}" alt="">
            </div>
            <div class="my-social-networks">
                <a href="https://www.linkedin.com/in/kevin-vanphavong-0899a2108/">
                    <img src="{{ asset('build/images/linkedin-logo.png') }}" alt="LINKEDIN" title="https://www.linkedin.com/in/kevin-vanphavong-0899a2108/">
                </a>
                <a href="https://www.instagram.com/tse_hao/">
                    <img src="{{ asset('build/images/instagram-logo.png') }}" alt="INSTAGRAM" title="https://www.instagram.com/tse_hao/">
                </a>
                <a href="#contact-me">
                    <img src="{{ asset('build/images/gmail-logo.png') }}" alt="GMAIL" title="vanphavongk45@gmail.com">
                </a>
            </div>
        </div>
    </section>

    <hr id="section-work-experiences-cards">

    {% if workExperiences|length > 0 %}
    <section class="section-work-experiences">
        <h2>Click on them !</h2>
        <div class="section-work-experiences-cards">
            {% set index = workExperiences|length %}
            {% for wxp in workExperiences %}
                <article class="work-experience-card work-experience-card-{{ index }}" data-wxp-card-index="{{ index }}">
                    <div class="side front-side">
                        <img src="{{ asset('build/images/dragon-tatoo.png') }}" alt="">
                        <span class="card-index">{{ '# ' ~ index }}</span>
                    </div>
                    <div class="side back-side">
                        <h3>{{ wxp.categoryExperience.title }}</h3>
                        <p>{{ wxp.title }}</p>
                        <b>{{ wxp.company|upper }}</b>
                        {% if wxp.endDate %}
                            <p>From {{ wxp.startDate|date('M Y') }}</p>
                            <p>To {{ wxp.endDate|date('M Y') }}</p>
                        {% else %}
                            <p>Still working there</p>
                        {% endif %}
                    </div>
                </article>
                {% set index = index-1 %}
            {% endfor %}
        </div>
    </section>

    <hr>
    {% endif %}

    <section id="contact-me" class="contact-me">
        <h3>For any profesional inquiries and askings, feel free to join me here</h3>
        {{ form_start(messageReceivedForm) }}
            {{ form_row(messageReceivedForm.sender) }}
            <div class="group-email-phone">
                {{ form_row(messageReceivedForm.email) }}
                {{ form_row(messageReceivedForm.phoneNumber) }}
            </div>
            {{ form_row(messageReceivedForm.object) }}
            {{ form_row(messageReceivedForm.content) }}
        {{ form_end(messageReceivedForm) }}
    </section>

    <script>
        let frontSideCards = document.querySelectorAll('.front-side');
        let backSideCards = document.querySelectorAll('.back-side');

        frontSideCards.forEach(frontSide => {
            frontSide.addEventListener('click', function () {
                frontSide.style.transform = 'rotateY(90deg)';
                setTimeout(function () {
                    frontSide.style.zIndex = '9'
                    let backSide = frontSide.nextElementSibling
                    backSide.style.zIndex = '10'
                    backSide.style.transform = 'rotateY(0deg)'
                }, '500')
            })
        })

        backSideCards.forEach(backSide => {
            backSide.addEventListener('click', function () {
                backSide.style.transform = 'rotateY(90deg)';
                setTimeout(function () {
                    backSide.style.zIndex = '9'
                    let frontSide = backSide.previousElementSibling
                    frontSide.style.zIndex = '10'
                    frontSide.style.transform = 'rotateY(0deg)'
                }, '500')
            })
        })
    </script>
    <script>

        var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                navbar.style.top = "2.5%";
                navbar.style.opacity = "100%";
            } else {
                navbar.style.top = "-5%";
                navbar.style.opacity = "0%";
            }
            prevScrollpos = currentScrollPos;
        }
    </script>
{% endblock %}