{% extends "layout.html.twig" %}

{% block navbar %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepageSCSS') }}
{% endblock %}

{% block body %}

    <section class="homepage">
        <div class="homepage-button homepage-button-parent homepage-button-control homepage-button-control-animation">
            <p>{{ profileInitials }}</p>
        </div>
        <a href="{{ path('about-me') }}" class="homepage-button homepage-button-children homepage-button-me">
            <p>? ME ?</p>
        </a>
{#        <a href="{{ path('skillset-experiences') }}" class="homepage-button homepage-button-children homepage-button-cv">#}
{#            <p>XP</p>#}
{#        </a>#}
        <a href="{{ path('hbo-studio') }}" class="homepage-button homepage-button-children homepage-button-hbo-studio">
            <p>HBO STUDIO</p>
        </a>

        <div class="shadow-button-control shadow-button-control-animation"></div>
        <div class="section-welcome">
            <p>W</p>
            <p>E</p>
            <p>L</p>
            <p>C</p>
            <p>O</p>
            <p>M</p>
            <p>E</p>
        </div>
    </section>

    <script>
        var shadowButtonControl = document.querySelector('.shadow-button-control')
        var homepageButtonControl = document.querySelector('.homepage-button-control')
        var homepageButtonMe = document.querySelector('.homepage-button-me')
        var homepageButtonHboStudio = document.querySelector('.homepage-button-hbo-studio')

        function buttonStateShown() {
            homepageButtonMe.style.transform = "translate(-250%, 0%)"
            homepageButtonHboStudio.style.transform = "translate(250%, 0%)"
        }

        function buttonStateHidden() {
            homepageButtonMe.style.transform = "translate(0, 0)"
            homepageButtonHboStudio.style.transform = "translate(0, 0)"
        }

        counter = 0;
        homepageButtonControl.addEventListener('click', function () {
            if (counter%2 === 0) {
                homepageButtonControl.classList.remove('homepage-button-control-animation')
                shadowButtonControl.classList.remove('shadow-button-control-animation')
                buttonStateShown();
            } else {
                homepageButtonControl.classList.add('homepage-button-control-animation')
                shadowButtonControl.classList.add('shadow-button-control-animation')
                buttonStateHidden();
            }
            counter++;
        })

        var welcomeLetters = document.querySelectorAll('.section-welcome > p')
        var lettersCount = welcomeLetters.length

        function randomInteger(max) {
            return Math.floor(Math.random() * max);
        }
    </script>
{% endblock %}