{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{ encore_entry_link_tags('skillsetexperienceSCSS') }}
{% endblock %}

{% block body %}
    <section class="section-work-experiences section-90-top-90-sides">
        {% for index, wxp in workExperiences %}
            <div class="work-experience work-experience-{{ index }}">
                <div class="work-experience-content" data-category-id="{{ wxp.categoryExperience.id }}">

                    <div class="first-infos">
                        {% if wxp.image %}
                            <img class="work-experience-image" src="{{ asset('uploads/experience-image/' ~ wxp.image.name) }}" alt="">
                        {% else %}
                            <div class="work-experience-image"></div>
                        {% endif %}
                        <div class="work-experience-infos">
                            <p>{{ wxp.title }} as {{ '(' ~ wxp.position ~ ')' }}</p>
                            <p>{{ wxp.company }}</p>
                            <p>{{ wxp.country ~ ' - ' ~ wxp.city }}</p>
                            <p>
                                From {{ wxp.startDate|date("M Y") }}
                            <br>
                                To {{ wxp.endDate|date("M Y") }}
                            </p>
                        </div>
                    </div>

                    <div class="second-infos">
                        <p>
                            {{ wxp.description }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="section-category-titles">
            {% for category in categoryExperiences %}
                <h4 class="category-title category-title-{{ category.id }}">{{ category.title|upper }}</h4>
            {% endfor %}
        </div>
        <div class="fake-cards-slider">
            <div class="button-slider button-slider-left"></div>
            <div class="button-slider button-slider-right"></div>
            {% for i in 0..4 %}
                <div class="fake-card-work-experience fake-card-work-experience-{{ i }}">
                    <div class="wrapper-content">
                    </div>
                </div>
            {% endfor %}
        </div>



    </section>

    <script>
        // START - DISPLAY SLIDER SCRIPT
        function displaySliderScript() {
            let fakeCards = document.querySelectorAll('.fake-card-work-experience');

            const fakeCardBaseHeight = 5
            const fakeCardIncrementHeight = 3
            const fakeCardBaseWidth = 20
            const fakeCardIncrementWidth = 5
            const fakeCardBaseZIndex = 100;

            fakeCards.forEach(function(fakeCard, index = 0){
                fakeCard.style.bottom = fakeCardBaseHeight + (index*fakeCardIncrementHeight) + '%'
                fakeCard.style.top = fakeCardBaseHeight + (index*fakeCardIncrementHeight) + '%'

                fakeCard.style.right = fakeCardBaseWidth - (index*fakeCardIncrementWidth) + '%'
                fakeCard.style.left = fakeCardBaseWidth - (index*fakeCardIncrementWidth) + '%'

                fakeCard.style.zIndex = fakeCardBaseZIndex - index;
                if(index !== 0){
                    fakeCard.children[0].style.filter = 'blur(4px)';
                } else {
                    fakeCard.style.overflow = "scroll";
                    fakeCard.style.overflowX = "hidden";
                }
                index++;
             })

            function resizeCardExperience() {
                const cardExperience = document.querySelector('.fake-card-work-experience')
                if (window.innerWidth < 468) {
                    cardExperience.style.inset = '5% 0%';
                }
            }
            window.addEventListener('load', resizeCardExperience);
        }
        displaySliderScript();
        // END - DISPLAY SLIDER SCRIPT

        // START - ACTIVATE SLIDER SCRIPT
        function activateSliderScript() {
            let firstCardExperience = document.querySelector('.fake-card-work-experience')
            let allWorkExperiences = document.querySelectorAll('.work-experience');

            const firstSliderNumber = 0;
            const lastSliderNumber = allWorkExperiences.length - 1;
            let sliderNumberToChange;

            let buttonSliderRight = document.querySelector('.button-slider-right')
            let buttonSliderLeft = document.querySelector('.button-slider-left')

            let allCategoryNames = document.querySelectorAll('.category-title');

            sliderNumberToChange = firstSliderNumber;
            firstCardExperience.innerHTML = allWorkExperiences[sliderNumberToChange].innerHTML
            displayTheRightCategoryName(allCategoryNames)

            window.addEventListener('keydown', (event) => {
                if(event.keyCode === 37) {
                    sliderNumberToChange -= 1
                } else if (event.keyCode === 39) {
                    sliderNumberToChange += 1
                }

                if(sliderNumberToChange > lastSliderNumber){
                    sliderNumberToChange = firstSliderNumber
                } else if (sliderNumberToChange < firstSliderNumber) {
                    sliderNumberToChange = lastSliderNumber
                }
                firstCardExperience.innerHTML = allWorkExperiences[sliderNumberToChange].innerHTML
                displayTheRightCategoryName(allCategoryNames)
            })

            buttonSliderRight.addEventListener('click', function(){
                sliderNumberToChange += 1
                if(sliderNumberToChange > lastSliderNumber){
                    sliderNumberToChange = firstSliderNumber
                } else if (sliderNumberToChange < firstSliderNumber) {
                    sliderNumberToChange = lastSliderNumber
                }
                firstCardExperience.innerHTML = allWorkExperiences[sliderNumberToChange].innerHTML
                displayTheRightCategoryName(allCategoryNames)
            })

            buttonSliderLeft.addEventListener('click', function(){
                sliderNumberToChange -= 1
                if(sliderNumberToChange > lastSliderNumber){
                    sliderNumberToChange = firstSliderNumber
                } else if (sliderNumberToChange < firstSliderNumber) {
                    sliderNumberToChange = lastSliderNumber
                }
                firstCardExperience.innerHTML = allWorkExperiences[sliderNumberToChange].innerHTML
                displayTheRightCategoryName(allCategoryNames)
            })



        }
        activateSliderScript()

        // START - ACTIVATE THE CATEGORY EXPERIENCE NAME
        function displayTheRightCategoryName(allCategoryNames){
            let firstWorkExperience = document.querySelector('.fake-card-work-experience > .work-experience-content');
            console.log(firstWorkExperience.dataset.categoryId);
            let categoryIdToFind = firstWorkExperience.dataset.categoryId
            allCategoryNames.forEach(name => {
                if(name.classList.contains('category-title-' + categoryIdToFind)){
                    name.style.opacity = 1;
                } else {
                    name.style.opacity = 0;
                }
            })
        }
        // END - ACTIVATE THE CATEGORY EXPERIENCE NAME
    </script>
{% endblock %}
