{% extends "layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('skillsetexperienceCSS') }}
{% endblock %}

{% block body %}
    <section class="section-work-experiences section-90-top-90-sides">
        {% for index, wxp in workExperiences %}
            <div class="work-experience work-experience-{{ index }}">
                <p>{{ wxp.title }}</p>
                <p>{{ wxp.startDate|date("M") }}</p>
                <p>{{ dump(wxp) }}</p>
            </div>
        {% endfor %}

        <h4>WEB DEVELOPMENT</h4>
        <div class="fake-cards-slider">
            <div class="button-slider button-slider-left"></div>
            <div class="button-slider button-slider-right"></div>
            {% for i in 0..4 %}
                <div class="fake-card-work-experience fake-card-work-experience-{{ i }}">
                    <div class="wrapper-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum exercitationem neque similique vel voluptate. Deserunt explicabo fuga id nihil quas quis totam. Accusamus assumenda atque commodi culpa cumque eligendi fugiat id illum, laborum neque nesciunt obcaecati quam quidem quisquam recusandae sint soluta veniam. Ab adipisci aperiam aspernatur assumenda at fugit maiores minus natus repellendus voluptate? Aspernatur, commodi dolores ducimus eaque enim et, illum ipsa ipsum molestias nobis odit pariatur perspiciatis recusandae rem repudiandae sed unde. Aut autem blanditiis delectus incidunt inventore minima obcaecati placeat praesentium unde. Atque culpa dolor est exercitationem maiores minus nemo, officia pariatur quo repellendus reprehenderit vel!
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <script>
        // START - DISPLAY SLIDER SCRIPT
        function displaySliderScript() {
            let fakeCards = document.querySelectorAll('.fake-card-work-experience');
            let sliderfakeCard = document.querySelector('.fake-cards-slider').offsetHeight

            const fakeCardBaseHeight = 5
            const fakeCardIncrementHeight = 3
            const fakeCardBaseWidth = 20
            const fakeCardIncrementWidth = 5
            const fakeCardBaseZIndex = 100;

            fakeCards.forEach(function(fakeCard, index = 0){
                fakeCard.style.bottom = fakeCardBaseHeight + (index*fakeCardIncrementHeight) + '%'
                fakeCard.style.top = fakeCardBaseHeight + (index*fakeCardIncrementHeight) + '%'

                fakeCard.style.right = fakeCardBaseWidth - (index*fakeCardIncrementWidth) + '%'
                fakeCard.style.left = fakeCardBaseWidth - (index*fakeCardIncrementWidth) + '%'

                fakeCard.style.zIndex = fakeCardBaseZIndex - index;
                if(index !== 0){
                    fakeCard.children[0].style.filter = 'blur(4px)';
                }
                index++;
             })

            function resizeCardExperience() {
                const cardExperience = document.querySelector('.fake-card-work-experience')
                if (window.innerWidth < 468) {
                    cardExperience.style.inset = '5% 0%';
                }
            }
            window.addEventListener('load', resizeCardExperience);
        }
        displaySliderScript();
        // END - DISPLAY SLIDER SCRIPT

        // START - ACTIVATE SLIDER SCRIPT
        function activateSliderScript() {
            let firstCardExperience = document.querySelector('.fake-card-work-experience')
            let allWorkExperiences = document.querySelectorAll('.work-experience');

            const firstSliderNumber = 0;
            const lastSliderNumber = allWorkExperiences.length - 1;
            let sliderNumberToChange;

            let buttonSliderRight = document.querySelector('.button-slider-right')
            let buttonSliderLeft = document.querySelector('.button-slider-left')

            sliderNumberToChange = firstSliderNumber;
            firstCardExperience.innerHTML = allWorkExperiences[sliderNumberToChange].innerHTML

            window.addEventListener('keydown', (event) => {
                if(event.keyCode === 37) {
                    sliderNumberToChange -= 1
                } else if (event.keyCode === 39) {
                    sliderNumberToChange += 1
                }

                if(sliderNumberToChange > lastSliderNumber){
                    sliderNumberToChange = firstSliderNumber
                } else if (sliderNumberToChange < firstSliderNumber) {
                    sliderNumberToChange = lastSliderNumber
                }
                firstCardExperience.innerHTML = allWorkExperiences[sliderNumberToChange].innerHTML
            })

            buttonSliderRight.addEventListener('click', function(){
                sliderNumberToChange += 1
                if(sliderNumberToChange > lastSliderNumber){
                    sliderNumberToChange = firstSliderNumber
                } else if (sliderNumberToChange < firstSliderNumber) {
                    sliderNumberToChange = lastSliderNumber
                }
                firstCardExperience.innerHTML = allWorkExperiences[sliderNumberToChange].innerHTML
            })

            buttonSliderLeft.addEventListener('click', function(){
                sliderNumberToChange -= 1
                if(sliderNumberToChange > lastSliderNumber){
                    sliderNumberToChange = firstSliderNumber
                } else if (sliderNumberToChange < firstSliderNumber) {
                    sliderNumberToChange = lastSliderNumber
                }
                firstCardExperience.innerHTML = allWorkExperiences[sliderNumberToChange].innerHTML
            })
        }
        activateSliderScript()
    </script>
{% endblock %}
